{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'books/favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hostel Library</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'books/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'books/heroic-features.css' %}" rel="stylesheet">

<style>
    body {
        background-color: #D8DEE9;
        }
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-toggler">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">DBIT Hostel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book-request' %}">Request Book</a>
              </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">DBIT Hostel Library!</h1>
      <p class="lead">A place where you can contact your seniors directly for Books.</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
        {% for post in posts %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
          <img class="card-img-top embed-responsive-item" src="{{ post.book_image.url }}" alt="">
        </div>
          <div class="card-body">
            <a href="{% url 'post-detail' post.id %}"><h4 class="card-title">{{ post.book_name }}</h4></a>
            <p class="card-text">{{ post.book_description }}</p>
            <p><strong>Contact:- {{ post.phone_number }}</strong></p>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <div class="card-footer">
            <!-- <div class="embed-responsive embed-responsive-16by9">
                <img class="rounded-circle img-thumbnail top1" src="{{ post.author.profile.image.url }}">
            </div> -->
            <small class="text-muted">Posted By</small>
            <a class="text-uppercase" href="{% url 'author-detail' post.author.id %}"><p class="text-uppercase">{{ post.author }}</p></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Hostel Library 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
